
		* {
			box-sizing: border-box;
		}

		body {
			font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
			line-height: 1.4;
			background-color: rgb(252, 247, 228);
		}

		main {
			margin-top: 1em;
			margin-left: 20%;
			margin-right: 20%;
			margin-bottom: 2em;
		}

		.quotes-section {
			margin-top: 20px;
		}

		.quotes {
			/* align-items: center; */
			display: flex;
			flex-direction: column;
		}

		.character-quote {
			align-items: center;
			border-radius: 15px;
			box-shadow: 5px 10px 12px #999999;
			display: flex;
			font-size: 1.1em;
			margin-top: 1em;
			margin-left: 1em;
			background-color: #ffffff;

		}

		.character {
			margin-left: 1em;
		}

		.character-photo {
			margin: 5px 20px;
			width: 175px;
		}

		.adv-time-logo {
			width: 350px;
		}

		.quote-text {
			margin-left: 20px;
			margin-right: 20px;
		}

	</style>